<h1>There are <%= users.length %> users in the database</h1>

<table class='table'>
	<tr>
	<% users.forEach(function(el,index){ %>
	    <tr class="<%= el.evenClass %>">
				<td><%= index %></td>
		
				<td><%= el.name %></td>
				<td><%= el.address %></td>
				<td><%= el.phone %></td>
	    </tr>
	<% });  %>
</table>






<style>

	table tr.even { background: #ccccff; }

</style>
